@charset "UTF-8";
body {
    background-color: rgb(125, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(2, 152, 119);

}
h1#principal{
    text-align: center;
}
.basico{
    color: rgb(4, 222, 174);
}
.intermediario{
    color: rgb(222, 22, 4);
}
.avancado{
    color: rgb(4, 4, 222);
}